header{
	height: 80px;
	margin-bottom: 50px;
}
.content__build{
	position: relative;
}
.build__img{
	visibility: hidden;
	position: absolute;
}



.build a:focus ~ .ford-back{
	visibility: visible;
	right: 294px;
	top: 187px;
	transition: 1s;
}
.build a:focus ~ .ford-roof{
	transition: 1s;
	visibility: visible;
	top: 192px;
	right: 365px;
}
.build a:focus ~ .ford-door{
	transition: 1s;
	visibility: visible;
	left: 241px;
	bottom: 156px;
}
.build a:focus ~ .ford-bott{
	transition: 1s;
	visibility: visible;
	bottom: 79px;
	left: 249px;
}
.content__build{
	width: 1000px;
	height: 500px;
	border: 3px solid rgb(236, 107, 1);
	background: rgb(121, 120, 120);
	margin: 0 auto;
	border-radius: 15px;
	padding: 10px;
}
.build__a{
	letter-spacing: 1px;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.ford-roof{
	bottom: 20px;
	right: 12px;
}
.ford-back{
	right: 24px;
	top: 17px;
}
.ford-bott{
	left: 12px;
	bottom: 30px;
}
.ford-door{
	bottom: 1px;
	right: 100px;
}


.content__info{
	width: 1000px;
	margin: 30px auto 0;
	background: rgb(144, 163, 170);
	padding: 15px;
	min-height: 280px;
	border-radius: 15px;
	border: 3px solid rgb(0, 174, 255);
}
.info__title{
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.info__list li{
	margin-left: 40px;
	font-size: 18px;
	line-height: 1.8;
}